%h1 Your websites

%table.websites
  %thead
    %tr
      %th.wide Fqdn
      %th Name
      %th
      %th
      %th

  %tbody
    - @websites.select{|w| can?(:manage, w)}.each do |website|
      %tr
        %td= link_to website.fqdn, website
        %td= website.name
        %td= link_to 'Edit', edit_website_path(website)
        %td= link_to 'Share', website_shares_path(website)
        %td= link_to 'Destroy', website, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Website', new_website_path

%h1 Shared websites

%table.websites
  %thead
    %tr
      %th.wide Fqdn
      %th Name
      %th Owner

  %tbody
    - current_user.shares.select{|sh| sh.resource.class.name == 'Website'}.each do |share|
      %tr
        %td= link_to share.resource.fqdn, share.resource
        %td= share.resource.name
        %td= share.owner.username

:javascript
  $(function() {
    $('.websites').dataTable({
      "bJQueryUI": true,
      "bPaginate": false,
      "bLengthChange": false,
      "bFilter": false,
      "bSort": false,
      "bInfo": false
    });
  });
