%p
  %b Fqdn:
  = link_to @website.fqdn, 'http://' + @website.fqdn
%p
  %b Name:
  = @website.name
%p
  %b Description:
  = @website.description
%p
  %b= pluralize(@website.categories.size, 'Category').sub(/\d+\s/, '') + ":"
  = @website.categories.map(&:to_s).join(", ")

= link_to 'Edit', edit_website_path(@website)
\|
= link_to 'Back', :back
