:javascript
  $(function() {
    $('#logs').dataTable({
      "bJQueryUI": true,
      "bPaginate": false,
      "bLengthChange": false,
      "bFilter": false,
      "bSort": false,
      "bInfo": false
    });

    $('#progressbar').progressbar();
  });

  function uploadCompleteHandler(upload_options, event) {
    $("#server_log_filename").val(upload_options.FileName);
    $("#new_server_log").submit();
  }

  function uploadProgressHandler(progress_event) {
    var current_percentage = Math.floor((parseInt(progress_event.bytesLoaded)/parseInt(progress_event.bytesTotal))*100);
    $('#progressbar').progressbar('value', current_percentage);
  }

%h1!= page_name_with_enclosing "Server logs"

.grid
  %table#logs.wide
    %thead
      %tr
        %th Website
        %th Filename
        %th Log Format
        %th Uploaded At
        %th
        %th

    %tbody
      - @server_logs.each do |server_log|
        %tr
          %td= server_log.website.name
          %td= server_log.filename
          %td= server_log.log_format
          %td= server_log.created_at.to_s(:db)
          %td= link_to 'Show', website_server_log_path(server_log.website, server_log)
          %td= link_to 'Destroy', website_server_log_path(server_log.website, server_log), :confirm => 'Are you sure?', :method => :delete

#progressbar

= raw s3_swf_upload_tag( |
  :onFileAdd => 's3_swf_1_object.startUploading();', |
  :onUploadComplete => 'uploadCompleteHandler(upload_options,event);', |
  :onUploadingStart => '$("#progressbar").progressbar("value", 0).show()', |
  :onUploadProgress => 'uploadProgressHandler(progress_event)', |
  :onUploadFinish => '$("#progressbar").hide()', |
  :onUploadError => 'alert("There was an error")' |
  ) |

%br

= link_to 'Back', :back

= form_for [@website, ServerLog.new], :remote => true do |form|
  = form.hidden_field :filename
