%h1!= page_name_with_enclosing("Log file")

%p
  %b Website:
  = @server_log.website.name
%p
  %b Filename:
  = @server_log.filename
%p
  %b Log Format:
  = @server_log.log_format


= link_to 'Back', :back
