!!!
%html
  %head
    %title Merjis
    = stylesheet_link_tag :all, :recursive => true
    = javascript_include_tag 's3_upload', 'jquery.min', 'jquery-ui-1.8.5.custom.min', 'rails', 'jquery.dataTables.min', 'application'
    = csrf_meta_tag
  %body
    #content
      #header
        - if current_user.present?
          #nav_bar= link_to "Home", users_root_path
          #user_info Logged in as #{link_to current_user.username, edit_user_path(current_user)} | #{link_to 'Logout', sign_out_path}

      #content_body
        - if notice.present?
          %p.notice.ui-state-highlight= notice
        - if alert.present?
          %p.alert.ui-state-error= alert

        = yield
